# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

# Only run the latest job
concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest ]
        java: ['17', '21']

    steps:
    - uses: actions/checkout@v5
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v5
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'
        cache: 'maven'
    - name: Build and test with ${{ matrix.java }} - ${{ matrix.os }}
      run: mvn -B clean install
    - uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: surefire-reports-${{ matrix.os }}-${{ matrix.java }}
        path: '**/surefire-reports/'
    - uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: server-logs-${{ matrix.os }}-${{ matrix.java }}
        path: '**/server.log'
